body{
  background-image: url(./images/wvlhcfgvkhs1f67cwazq.jpg);
  
  
}
p{
  font-family:'Courier New', Courier, monospace;
  font-size: 70px;
  text-align: center;
  font-weight: bold;
  color: rgb(212, 0, 255);
  margin-top: 20%;

}
